@tailwind base;
@tailwind components;
@tailwind utilities;

.namew {
  width: 92px;
  color: rgb(255, 255, 255);
}

.c_logo{
  max-height: 80px;

}

.listList{
  flex-wrap: wrap;
  .list{
    width: 200px;
  }
}